body {
    margin: 0;
}

.hero {
    min-height: 600px;
    background-image: url(../images/hero.jpg);
    background-position: bottom;
    /* THIS IS A COMMENT  */
}

.hero-text {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
}

.hero-text h2 {
    margin-top: 0;
}

.blue-text {
    color: blue;
}

.about-content {
    padding: 40px 0;
    text-align: center;
    background-color: lightgray;
}

.images-section {
    padding: 40px 0;
    text-align: center;
}